@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.compatibility {
    width: 350px;
    border: 3px solid #333;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px; /* Margen superior para separar el contenido de la barra de navegación */
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    background-attachment: fixed;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding-top: 0; /* Eliminamos el padding-top adicional */
}

body {
    background: linear-gradient(270deg, #009FFD, #2A2A72);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}




nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

form {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

form:hover {
    transform: translateY(-5px);
}



.compatibility input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    width: calc(100% - 24px);
}

.compatibility button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    font-weight: bold;
    letter-spacing: 1px;
}

.compatibility button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
